$blue: #1DA1F2 !default;

@import "./../../vendor/laravel/spark-aurelius/resources/assets/sass/spark";

body {
    background-color: #e3e8ee !important;
}

.material-icons { vertical-align: middle !important; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.upper-case {
    text-transform: uppercase !important;
}

.card-deck {
    margin-bottom: 15px;
}

.card {
    margin-bottom: 15px;
}

.navbar-spark {
    background-color: inherit !important;
    box-shadow: 0 0px 0px white !important;
}

.nav-heading {
    margin-bottom: 0px !important;
}

.nav-heading.sub {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600px;
    color: #9aa5ac;
    letter-spacing: 1px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.navbar-spark .nav-link, .spark-settings-tabs .nav-link {
    font-weight: 400 !important;
    font-size: 14px !important;
}

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}
